extends ../../layouts/default.pug

block main
    div.recover
        div.cover.container
            div.recover__ctn
                div.recover__title QUÊN MẬT KHẨU
                div.recover__instruct Nhập địa chỉ email của bạn và chúng tôi sẽ gửi cho bạn hướng dẫn để tạo mật khẩu mới
                form(
                    action=`/user/password/forgot`
                    method="POST"
                )
                    div.recover__input
                        input(type="text", placeholder="Email", name="email", required)
                    div(class="form-group recover__button my-5")
                        button(
                            type="submit"
                        ) GỬI MÃ XÁC MINH