extends ../../layouts/default.pug

block main
    div.recover
        div.cover.container
            div.recover__ctn
                div.recover__title Nhập mã OTP xác thực
                form(
                    action=`/user/password/otp`
                    method="POST"
                )
                    div.recover__input
                        input(type="text", placeholder="Email", name="email", value=email, required)
                    div.recover__input
                        input(type="text", placeholder="Mã OTP", name="otp", required)
                    div(class="form-group recover__button my-5")
                        button(
                            type="submit"
                        ) XÁC MINH