extends ../../layouts/default.pug

block main
    div.recover
        div.cover.container
            div.recover__ctn
                div.recover__title Đổi mật khẩu
                form(
                    action=`/user/password/reset`
                    method="POST"
                )
                    div.recover__input
                        input(type="text", placeholder="Mật khẩu mới", name="password", required, autocomplete="off")
                    div.recover__input
                        input(type="text", placeholder="Xác nhận mật khẩu mới", name="confirmPassword", required, autocomplete="off")
                    div(class="form-group recover__button my-5")
                        button(
                            type="submit"
                        ) ĐỔI MẬT KHẨU